body {
    background: #f2f2f2;
    font-family: Arial;
}

.box {
    width: 300px;
    margin: 100px auto;
    padding: 30px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px #aaa;
}

input, button {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
}

button {
    background: #4CAF50;
    color: white;
    border: none;
}
